project:
  type: website

website:
  title: "Análise do Censo 2022 - Domicílios"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: 01-import-data.qmd
        text: "1. Importação de Dados"
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

